.instruction {
  font-size: 16px;
  background: #f3f3f3;
  padding: 10px 0 40px 0;
  margin: 50px 0;
  color: #000;
}

.smallGrayButton {
  background-color: #717D88;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  padding: 8px 12px;
  border-radius: 8px;
}

.smallGrayButton:hover {
  background-color: #556069;
  color: #FFF;
}

#exampleKMLFile {
  float: right;
}

.instruction div {
  margin-bottom: 30px;
}

.instruction div:last-of-type {
  margin-bottom: 0;
}