.instruction {
  font-size: 18px;
  background: #f3f3f3;
  padding: 1px 0 40px 0;
  margin: 30px 0;
  color: #000;
}

.instruction h2 {
  text-align: left;
  margin-bottom: 1.2em;
}

.smallGrayButton {
  background-color: #717D88;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  padding: 8px 12px;
  border-radius: 8px;
}

.smallGrayButton:hover {
  background-color: #556069;
  color: #FFF;
}

#exampleKMLFile {
  float: right;
  transform: translateY(-5px);
}

.instruction div {
  margin-bottom: 30px;
}

.instruction div:last-of-type {
  margin-bottom: 0;
}